$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1600px;

@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}

@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: ($xxl)) {
    @content;
  }
}
