// BG
// $main-bg: #134063;
// $soft-bg: #384256;
// $dark-bg: #222b3c;

// // TEXT
// $main-color: white;
// $soft-color: #ddd;
// $dark-color: #2a3447;

// //other
// $warmer-color: #ceb290;
// $cooler-color: #0071c9;

$main-bg: #272733; // black 
$soft-bg: #6356e7; // light black

$dark-bg:#363645; // purple

// TEXT
$soft-color: #383641; // blue purple
$main-color: rgb(226, 224, 224);
$dark-color: rgb(226, 224, 224); //#6356e781ABBC
$text-btn-hover: #8fa6e9;

//other
$warmer-color: #6ae9ea; // torquise
$cooler-color: #6ae9ea;

// BG
// $main-bg: #134063;  // background
// $soft-bg: #384256; // borders
// $dark-bg: #222b3c; // link boxes, text userstatus, tickerbox,invest

// // TEXT
// $main-color: white; // text
// $soft-color: #ddd; // boxes
// $dark-color: #2a3447;

// //other
// $warmer-color: #ceb290;
// $cooler-color: #0071c9;