@import "../../styles/responsive.scss";
@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.news {
  .news__title {
    color: $dark-color;
    font-size: clamp(24px, 5vw, 300px);
  }

  h1 {
    color: $dark-color;
    font-size: clamp(24px, 5vw, 300px);
  }
}
